/* GENERAL */

*
{
    margin: 0;
    padding: 0;
}
body
{
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
}
a
{
    text-decoration: none;
    color: #444;
    font-weight: lighter;
    font-size: 16px;
    margin-right: 20px;
    text-transform: uppercase;
}
a:hover
{
    color: #f25f5c;
    font-weight: bold;
}
li
{
    list-style: none;
    float: left;
}
.border_band
{
    width: 100px;
    margin: 10px auto;
}
span
{
    font-weight: bold;
}
.color
{
    color: #f25f5c;
}
.padding_top
{
    padding-top: 20px;
}
div h2
{
    text-align: center;
    font-size: 25px;
    color: white;
    padding-top: 20px;
    padding-bottom: 10px;
    margin: 0 auto;
}
/* ASIDE */
#card_add
{
    display: none;
    right: 0;
    height: 100%;
    width: 260px;
    background: white;
    position: fixed;
    border-left: 1px solid #ccc;
    padding: 0 20px 0 20px;
    z-index: 1;
}
.basket
{
    font-size: 14px;
    font-weight: lighter;
    float: left;
    margin-top: 14px;
}
.close_card
{
    cursor: pointer;
    font-size: 18px;
    color: #777;
    float: right;
    margin-top: 14px;
    right: 0;
}
.card_band
{
    opacity: 0.3;
    border: 1px solid #ccc;
    margin-top: 40px;
}
.no-product
{
    height: 250px;
    overflow-y: scroll;
    scrollbar-color: #f25f5c #ccc;
    scrollbar-width: thin;
}
.no-panier
{
    text-align: center;
    font-weight: lighter;
}
.sous-total
{
    font-weight: lighter;
}
.button-card
{
    text-transform: none;
    display: block;
    margin: auto;
    padding: 10px;
    font-size: 12px;
    border-radius: 7px;
    background-color: #549b36;
    border: 1px solid #ccc;
    color: white;
    width: 100%;
    cursor: pointer;
}
.button-card:hover
{
    background-color: #4c8f31;
}
.secure_img_min
{
    display: block;
    margin: auto;
    padding-top: 5px;
    width: 200px;
    height: 28px;
}
.imgCard
{
    width: 80px;
    height: 80px;
}
.txt-card
{
    float: right;
}
.titleCard, .price, .color
{
    color: black;
    font-weight: lighter;
    line-height: 25px;
}
.product-again
{
    text-align: center;
    border: 1px solid #ccc;
    width: 38%;
    padding: 7px 0;
    margin: auto;
}
.hrCard
{
    margin: auto;
}
/* GRID LAYOUT */

.container
{
    display: grid;
    grid-template-columns:
            repeat(17, 1fr);

    grid-template-rows:
            [header] auto
            [nav] auto
            [home] auto
            [description_title] auto
            [description] auto
            [information_title] auto
            [information] auto
            [performance_title] auto
            [performance] auto
            [compatibility_title] auto
            [compatibility] auto
            [caution] auto
            [columns_icons] auto
            [footer] auto
            [footer_band] auto;
}
.header
{
    background-color: #484647;
    grid-column: 1/18;
    grid-row: 1;
}
.nav
{
    background-color: white;
    grid-column: 1/18;
    grid-row: 2;
}
.home
{
    grid-column: 1/18;
    grid-row: 3;
}
.description_title
{
    background-color: #484647;
    grid-column: 1/18;
    grid-row: 4;
}
.description
{
    background-color: #484647;
    grid-column: 1/18;
    grid-row: 5;
}
.information_title
{
    grid-column: 1/18;
    grid-row: 6;
}
.information
{
    grid-column: 1/18;
    grid-row: 7;
}
.performance_title
{
    background-color: #f25f5c;
    grid-column: 1/18;
    grid-row: 8;
}
.performance
{
    background-color: #f25f5c;
    grid-column: 1/18;
    grid-row: 9;
}
.compatibility_title
{
    grid-column: 1/18;
    grid-row: 10;
}
.compatibility
{
    grid-column: 1/18;
    grid-row: 11;
}
.caution_title
{
    grid-column: 1/18;
    grid-row: 12;
    background-color: #f25f5c;
}
.caution
{
    grid-column: 1/18;
    grid-row: 13;
    background-color: #f25f5c;
}
.columns_icons
{
    grid-column: 1/18;
    grid-row: 14;
}
.product_title
{
    grid-column: 1/18;
    grid-row: 15;
}
.product
{
    grid-column: 1/18;
    grid-row: 16;
}
.footer
{
    grid-column: 1/18;
    grid-row: 17;
    background-color: #191819;
}

/* HEADER */

.header_container
{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 33px;
    border-bottom: 1px solid #777;
}
.header-one
{
    grid-column: 2/3;
    grid-row: 1;
    margin: auto;
}

div h3
{
    color: white;
    font-size: 13.4px;
    font-weight: normal;
    text-align: center;
    margin-top: 6px;
}

/* NAV */

.nav_container
{
    display: grid;
    grid-template-columns: 200px auto 200px;
    grid-template-rows: 53px;
    border-bottom: 1px solid #777;
}
.nav-one
{
    margin: auto;
}
.nav-two
{
    margin: auto;
}
.nav-three
{
    margin: auto;
}
#logo
{
    width: 50px;
    height: 50px;
}
#cart
{
    cursor: pointer;
    width: 25px;
    height: 25px;
}
.nav-one-mobile
{
    display: none;
}
.menu_nav
{
    display: none;
    top: 0;
    left: 0;
    height: 100%;
    width: 260px;
    background: white;
    position: fixed;
    border-left: 1px solid #ccc;
    padding: 0 20px 0 20px;
    z-index: 1;
}
.menu_nav ul li
{
    margin-top: 40px;
    list-style: none;
    float: none;
}
.close_menu_nav
{
    float: right;
    cursor: pointer;
    font-size: 18px;
    color: #777;
    margin-top: 14px;
    right: 0;
}
/* HOME */

.home_container
{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 600px;
}
.home-one
{
    grid-column: 1/2;
    grid-row: 1;
}
.home-two
{
    grid-column: 2/3;
    grid-row: 1;
    margin: auto;
    width: 80%;
}
#logo_home
{
    width: 100%;
    height: 600px;
}
.home-two h1
{
    font-weight: lighter;
    padding-bottom: 10px;
}
.home-two h4
{
    padding-top: 10px;
    font-weight: lighter;
    font-size: 20px;
    line-height: 25px;
    padding-bottom: 33px;
}
.button1
{
    text-transform: none;
    padding: 13px;
    font-size: 15px;
    border-radius: 7px;
    background-color: #f25f5c;
    color: white;
}
.button1:hover
{
    background-color: #dd5654;
    color: white;
}

/* DESCRIPTION TITLE */

.description_title h2
{
    color: white;
    padding: 20px 350px 10px 350px;
}

/* DESCRIPTION */

.description_container
{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
}
.description-one
{
    grid-column: 1/2;
    grid-row: 1;
    margin: auto;
}
.description_text_p
{
    font-size: 16px;
    line-height: 27px;
    font-weight: lighter;
    padding: 0 300px 35px 300px;
    text-align: left;
    color: white;
}

/* INFORMATION TITLE */

.information_title h2
{
    color: black;
}

/* INFORMATION */

.information_container
{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    padding-bottom: 25px;
}
.information-one
{
    grid-column: 1/2;
    grid-row: 1;
    margin: auto;
    text-align: right;
    padding-left: 50px;
}
.information-two
{
    grid-column: 2/3;
    grid-row: 1;
    margin: auto;
}
.information-three
{
    grid-column: 3/4;
    grid-row: 1;
    margin: auto;
    padding-right: 50px;
}

div h5
{
    font-weight: bold;
    font-size: 15px;
    text-transform: uppercase;
}
.info
{
    font-weight: lighter;
}
#info_img
{
    border: 5px solid white;
    width: 400px;
    height: 400px;
}

/* PERFORMANCE */

.performance_container
{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    padding-bottom: 50px;
}
.performance-one
{
    grid-column: 1/2;
    grid-row: 1;
    margin: auto;
}
.performance-two
{
    grid-column: 2/3;
    grid-row: 1;
    margin: auto;
}
.performance_p
{
    color: white;
    line-height: 25px;
    font-size: 16px;
    padding-right: 20px;
}
#perfo_img
{
    border: 5px solid white;
    width: 350px;
    height: 350px;
}

/* COMPATIBILITY TITLE */

.compatibility_title h2
{
    color: black;
}

/* COMPATIBILITY */

.compatibility_container
{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    padding-bottom: 50px;
}
.compatibility-one
{
    grid-column: 1/2;
    grid-row: 1;
    margin: auto;
}
.compatibility-two
{
    grid-column: 2/3;
    grid-row: 1;
    margin: auto;
}
.compatibility_p
{
    color: black;
    text-align: right;
    line-height: 25px;
    font-size: 16px;
    padding-left: 20px;
}
#compa_img
{
    width: 350px;
    height: 350px;
}

/* CAUTION TITLE */

.caution_title h2
{
    color: white;
}

/* CAUTION */

.caution_container
{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    padding-bottom: 30px;
}
.caution-one
{
    grid-column: 1/2;
    grid-row: 1;
    margin: auto;
}
.caution_text_p
{
    font-size: 16px;
    line-height: 27px;
    font-weight: lighter;
    padding: 0 350px 35px 350px;
    text-align: center;
    color: white;
}

/* COLUMNS ICONS */

.columns_icons_container
{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    padding: 8px 0 40px 0;
    border-bottom: 5px solid #f25f5c;
}
.columns-one
{
    grid-column: 1/2;
    grid-row: 1;
}
.columns-two
{
    grid-column: 2/3;
    grid-row: 1;
}
.columns-three
{
    grid-column: 3/4;
    grid-row: 1;
}
.columns-four
{
    grid-column: 4/5;
    grid-row: 1;
}
h6
{
    text-align: center;
    font-weight: bold;
    font-size: 17px;
}
.columns_img
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 25px;
    width: 250px;
    height: 50px;
}
.columns_text_p
{
    text-align: center;
    font-weight: lighter;
    font-size: 16px;
    line-height: 28px;
}

/* PRODUCT TITLE */

.product_title h2
{
    color: black;
}

/* PRODUCT */

.product_container
{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    padding-top: 40px;
    padding-bottom: 100px;
}
.product-one
{
    margin: 0 auto;
    position: relative;
    width:500px;
    grid-column: 1/2;
    grid-row: 1;
}
.product-two
{
    grid-column: 2/3;
    grid-row: 1;
}
.product_h1
{
    font-weight: bold;
    font-size: 24px;
    color: #444444;
}
.product_p
{
    text-align: left;
    font-weight: lighter;
    color: black;
    font-size: 19px;
    line-height: 25px;
}
.color_p
{
    text-align: left;
    font-weight: lighter;
    color: black;
    font-size: 18px;
    line-height: 25px;
    margin-bottom: 5px;
}
#underline
{
    text-decoration: line-through;
    font-weight: lighter;
    font-size: smaller;
}
.Black, .Blue, .Red
{
    margin: 20px 10px;
}
.Black:hover
{
    border: 3px solid #444;
}
.Blue:hover
{
    border: 3px solid #444;
}
.Red:hover
{
    border: 3px solid #444;
}
.button2
{
    display: block;
    margin-left: 0;
    width: 500px;
    text-align: center;
    text-transform: none;
    padding: 13px;
    font-size: 15px;
    border: 1px solid #ccc;
    box-shadow: 2px 2px 2px #ccc;
    border-radius: 7px;
    background-color: #f25f5c;
    color: white;
    font-weight: bold;
}
.button2:hover
{
    border: 1px solid #ccc;
    box-shadow: 2px 2px 2px #ccc;
    cursor: pointer;
    background-color: #dd5654;
    color: white;
}
.secure_img
{
    display: block;
    margin-top: 5px;
    margin-left: 15px;
    width: 500px;
    height: 60px;
}
#carrousel_first_img
{
    position:relative;
    height:500px;
    width:500px;
    margin:auto;
}
#carrousel_first_img ul li
{
    position:absolute;
    top:0;
    left:0;
    width: auto;
}
#carrousel_first_img img
{
    width: 500px;
    height: 500px;
}
.prev
{
    cursor: pointer;
    font-size: 105px;
    color: rgba(255,255,255,0);
    position: absolute;
    left: 0;
}
.prev:hover
{
    background-color: rgba(255,255,255,0.3);
    height: 100%;
    color: rgba(255,255,255,0.3);
    text-shadow: 3px 3px 3px rgba(0,0,0,0.5);
}
.next
{
    cursor: pointer;
    font-size: 105px;
    color: rgba(255,255,255,0);
    position: absolute;
    right: 0;
}
.p_carrousel
{
    margin-top: 170px;
}
.next:hover
{
    background-color: rgba(255,255,255,0.3);
    height: 100%;
    color: rgba(255,255,255,0.3);
    text-shadow: 3px 3px 3px rgba(0,0,0,0.5);
}
#carrousel_second_img
{
    position: center;
    height: auto;
    overflow: hidden;
}
#carrousel_second_img ul
{
    display: block;
    margin-left: 5px;
    width: 1500px;
}
#carrousel_second_img ul li img
{
    cursor: pointer;
    position: relative;
    width: 105px;
    height: 105px;
    float: left;
    margin-top: 5px;
    margin-left: 15px;
}
.prev_min
{
    cursor: pointer;
    font-size: 20px;
    color: black;
    font-weight: bold;
    position: absolute;
    left: 0;
    margin-top: 40px;
    text-shadow: 3px 3px 3px rgba(0,0,0,0.5);
}
.next_min
{
    position: absolute;
    cursor: pointer;
    font-size: 20px;
    color: black;
    font-weight: bold;
    position: absolute;
    right: 0;
    margin-top: 40px;
    text-shadow: 3px 3px 3px rgba(0,0,0,0.5);
}
/* FOOTER */

.footer_container
{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    padding: 50px 30px 50px 30px;
}
.footer-one
{
    grid-column: 1/2;
    grid-row: 1;
}
.footer-two
{
    grid-column: 2/3;
    grid-row: 1;
}
.footer-three
{
    grid-column: 3/4;
    grid-row: 1;

}
.footer h1
{
    padding-top: 20px;
    padding-right: 75px;
    font-weight: bold;
    font-size: 22px;
    text-transform: none;
    color: white;
}
.footer a
{
    font-size: 15px;
    line-height: 25px;
    color: white;
    text-transform: none;
}
.footer a:hover
{
    color: #f25f5c;
    font-weight: lighter;
}
.footer p
{
    padding-right: 75px;
    color: white;
    font-weight: lighter;
    font-family: 'Montserrat', sans-serif;
}
.mail
{
    padding: 10px;
    width: 220px;
    font-size: 15px;
    border: none;
}
.valid
{
    padding: 10px;
    border: none;
    background-color: #f25f5c;
    color: white;
    border-radius: 10px;
    width: 140px;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
}

/* IPAD PRO */

@media all and (max-width: 1024px) {


    /* HEADER */

    div h3
    {
        font-size: 13px;
    }

    /* NAV */

    .nav_container
    {
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: 53px;
    }
    .nav-one
    {
        grid-column: 1/2;
        grid-row: 1;
    }
    .nav-two
    {
        grid-column: 2/3;
        grid-row: 1;
    }
    .nav-three
    {
        grid-column: 3/4;
        grid-row: 1;
    }

    /* HOME */
    .home_container
    {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto;
    }
    #logo_home
    {
        width: 100%;
        height: auto;
    }
    .home-two h4
    {
        padding-top: 10px;
        padding-bottom: 40px;
    }

    /* DESCRIPTION TITLE */

    .description_title h2
    {
        padding: 20px 200px 10px 200px;
    }

    /* DESCRIPTION */

    .description_text_p
    {
        padding: 0 100px 35px 100px;
    }

    /* INFORMATION */

    .information_container
    {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: auto;
        padding-bottom: 50px;
    }
    .information-one
    {
        grid-column: 1/4;
        grid-row: 2;
        margin: auto;
        text-align: center;
        padding-left: 0;
    }
    .information-two
    {
        grid-column: 1/4;
        grid-row: 1;
        padding-bottom: 50px;
    }
    .information-three
    {
        grid-column: 1/4;
        grid-row: 3;
        text-align: center;
        padding-right: 0;
    }
    div h5
    {
        display: inline-block;
        padding-bottom: 10px;
    }
    .info
    {
        padding: 0 100px 0 100px;
    }
    #info_img
    {
        width: 400px;
        height: 400px;
    }

    /* PERFORMANCE */

    .performance_p
    {
        padding: 0 60px 0 5px;
    }

    #perfo_img
    {
        display: block;
        margin: auto;
        width: 70%;
        height: auto;
    }

    /* COMPATIBILITY */

    .compatibility_p
    {
        padding: 0 50px 0 50px;
    }
    #compa_img
    {
        width: 75%;
        height: auto;
        display: block;
        margin: auto;
    }

    /* CAUTION */

    .caution_text_p
    {
        padding: 0 150px 35px 150px;
    }

    /* COLUMNS ICONS */

    h6
    {
        padding-top: 8px;
    }
    .columns_text_p
    {
        font-size: 15px;
        padding: 0 25px;
    }

    /* PRODUCT */

    .product_container
    {
        display: grid;
        grid-template-columns: repeat(2, auto);
        grid-template-rows: auto;
        padding-top: 40px;
        padding-bottom: 100px;
    }
    .product-one
    {
        margin: 0 auto;
        position: relative;
        width:500px;
        grid-column: 1/2;
        grid-row: 1;
    }
    .product-two
    {
        grid-column: 2/3;
        grid-row: 1;
    }
    .product_h1
    {
        font-weight: bold;
        font-size: 24px;
        color: #444444;
    }
    .product_p
    {
        text-align: left;
        font-weight: lighter;
        color: black;
        font-size: 19px;
        line-height: 25px;
    }
    .color_p
    {
        text-align: left;
        font-weight: lighter;
        color: black;
        font-size: 18px;
        line-height: 25px;
        margin-bottom: 5px;
    }
    #underline
    {
        text-decoration: line-through;
        font-weight: lighter;
        font-size: smaller;
    }
    .Black, .Blue, .Red
    {
        font-size: 15px;
        margin-right: 5px;
        margin-bottom: 20px;
        width: 60px;
        height: 40px;
        font-weight: bold;
        color: #444444;
        background-color: white;
        border: 1px solid #CCC;
    }
    .button2
    {
        width: 350px;
    }
    .secure_img
    {
        display: block;
        margin: 5px 0 50px 15px;
        width: 350px;
        height: 50px;
    }

    /* FOOTER */

    .footer_container
    {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: auto;
        margin: auto;
    }
    .footer-one
    {
        text-align: left;
        grid-column: 1/2;
        grid-row: 1;
    }
    .footer-two
    {
        text-align: left;
        grid-column: 2/3;
        grid-row: 1;
    }
    .footer-three
    {
        text-align: left;
        grid-column: 3/4;
        grid-row: 1;
    }
    .mail
    {
        padding: 8px;
        width: 200px;
        font-size: 15px;
        border: none;
    }
    .valid
    {
        padding: 10px;
        width: 120px;
        font-size: 12px;
    }
}

/* IPHONE X ROTATE */

@media all and (max-width: 823px) {

    /* HOME */

     .home-two h1
    {
        font-size: 22px;
    }
    .home-two h4
    {
        font-size: 16px;
    }
    /* COLUMNS ICONS */

    .columns_icons_container
    {
        display: grid;
        grid-template-columns: repeat(4, auto);
        grid-template-rows: auto;
        padding: 8px 0 40px 0;
        border-bottom: 5px solid #f25f5c;
    }
    .columns-one
    {
        grid-column: 1/2;
        grid-row: 1;
    }
    .columns-two
    {
        grid-column: 2/3;
        grid-row: 1;
    }
    .columns-three
    {
        grid-column: 1/2;
        grid-row: 2;
    }
    .columns-four
    {
        grid-column: 2/3;
        grid-row: 2;
    }
    h6
    {
        text-align: center;
        font-weight: bold;
        font-size: 17px;
        
    }
    .columns_img
    {
        display: block;
        margin-left: auto;
        margin-right: auto;
        padding-top: 25px;
        width: 250px;
        height: 50px;
    }

    .columns_text_p
    {
        text-align: center;
        font-weight: lighter;
        font-size: 16px;
        line-height: 28px;
    }
    /* PRODUCT */
    .product_container
    {
        display: grid;
        grid-template-columns: repeat(2, auto);
        grid-template-rows: auto;
        padding-top: 40px;
        padding-bottom: 100px;
    }
    .product-one
    {
        margin: 0 auto;
        position: relative;
        width:auto;
        grid-column: 1/2;
        grid-row: 1;
    }
    .product-two
    {
        margin: 0 auto;
        grid-column: 2/3;
        grid-row: 1;
    }
    .button2
    {
        width: 250px;
    }
    .secure_img
    {
        width: 250px;
        height: 40px;
    }
    #carrousel_first_img
    {
        height: 350px;
        width: 350px;
    }
    #carrousel_first_img ul li
    {
        width: auto;
    }
    #carrousel_first_img img
    {
        width: 350px;
        height: 350px;
    }
    .p_carrousel
    {
        margin-top: 80px;
    }
    .p_carrousel_min
    {
        margin-top: -20px;
    }
    #carrousel_second_img
    {
        width: 330px;
    }
    #carrousel_second_img ul
    {
        margin-left: 8px;
    }
    #carrousel_second_img ul li img
    {
        width: 65px;
        height: 65px;
    }
}
/* IPAD */

@media all and (max-width: 770px) {

    /* NAV */

    .nav_container
    {
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: 53px;
    }
    .nav-one-mobile
    {
        display: block;
        margin: auto;
        grid-column: 1/2;
        grid-row: 1;
    }
    .nav-one
    {
        grid-column: 2/3;
        grid-row: 1;
    }
    .nav-two
    {
        display:none;
    }
    .nav-three
    {
        grid-column: 3/4;
        grid-row: 1;
    }
    #menu_logo
    {
        width: 20px;
        height: 20px;
    }
    #logo
    {
        width: 40px;
        height: 40px;
    }

    #cart
    {
        width: 25px;
        height: 25px;
    }

    /* HOME */

    .home-two
    {
        text-align: center;
        padding-bottom: 50px;
        padding-top: 50px;
    }
    #logo_home
    {
         width: 100%;
         height: 380px;
    }
    .home-two h1
    {
        font-size: 22px;
    }
    .home-two h4
    {
        font-size: 16px;
    }

    /* COLUMNS ICONS */

    .columns_icons_container
    {
        display: grid;
        grid-template-columns: repeat(4, auto);
        grid-template-rows: auto;
        padding: 8px 0 40px 0;
        border-bottom: 5px solid #f25f5c;
    }
    .columns-one
    {
        grid-column: 1/2;
        grid-row: 1;
    }
    .columns-two
    {
        grid-column: 2/3;
        grid-row: 1;
    }
    .columns-three
    {
        grid-column: 1/2;
        grid-row: 2;
    }
    .columns-four
    {
        grid-column: 2/3;
        grid-row: 2;
    }
    h6
    {
        text-align: center;
        font-weight: bold;
        font-size: 17px;
        
    }
    .columns_img
    {
        display: block;
        margin-left: auto;
        margin-right: auto;
        padding-top: 25px;
        width: 250px;
        height: 50px;
    }
    .columns_text_p
    {
        text-align: center;
        font-weight: lighter;
        font-size: 16px;
        line-height: 28px;
    }

    /* FOOTER */

    .footer_container
    {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: auto;
        padding-top: 30px;
        margin: auto;
    }
    .footer-one
    {
        text-align: left;
        grid-column: 1/2;
        grid-row: 1;
    }
    .footer-two
    {
        text-align: center;
        grid-column: 2/3;
        grid-row: 1;
    }
    .footer-three
    {
        text-align: left;
        grid-column: 3/4;
        grid-row: 1;

    }
    .footer h1
    {
        font-weight: bold;
        font-size: 20px;
        text-transform: none;
        color: #ffffff;
    }
    .footer a
    {
        font-size: 14px;
        line-height: 25px;
        color: white;
        text-transform: none;
    }
    .footer p
    {
        font-size: 14px;
        color: white;
        font-weight: lighter;
        font-family: 'Montserrat', sans-serif;
    }
    .mail
    {
        padding: 8px;
        width: 200px;
        font-size: 15px;
        border: none;
    }
    .valid
    {
        padding: 10px;
        border: none;
        background-color: #f25f5c;
        color: white;
        border-radius: 10px;
        width: 120px;
        font-size: 12px;
        font-family: 'Montserrat', sans-serif;
    }
}

    /* SURFACE DUO */

    @media all and (max-width: 720px) {

        /* NAV */
        .nav_container 
        {
            grid-template-columns: auto;
            grid-template-rows: 45px;
        }
        #cart
        {
            width: 20px;
            height: 20px;
        }

        /* HOME */

        .home-two h1 
        {
            font-size: 18px;
        }
        .home-two h4 
        {
            font-size: 14px;
        }       
         #logo_home
        {
             width: 100%;
             height: 390px;
        }

        /* DESCRIPTION TITLE */

        .description_title h2 
        {
            font-size: 20px;
            padding: 20px 150px 10px 150px;
        }

        /* DESCRIPTION */

        .description_text_p 
        {
            font-size: 12px;
            padding: 0 80px 35px 80px;
        }

        /* INFORMATION TITLE */

        .information_title h2 
        {
            font-size: 20px;
        }

        /* INFORMATION */

        div h5 
        {
            font-size: 14px;
        }
        .info 
        {
            font-size: 12px;
        }
        #info_img 
        {
            width: 350px;
            height: 350px;
        }

        /* PERFORMANCE */

        .performance_title h2 
        {
            font-size: 20px;
        }
        .performance_p 
        {
            font-size: 12px;
        }
        #perfo_img 
        {
            width: 80%;
            height: auto;
        }

        /* COMPATIBILITY TITLE */

        .compatibility_title h2 
        {
            font-size: 20px;
        }

        /* COMPATIBILITY */

        .compatibility_p 
        {
            padding: 0 20px 0 30px;
            font-size: 12px;
        }
        #compa_img 
        {
            width: 90%;
            height: auto;
        }

        /* CAUTION TITLE */

        .caution_title h2 
        {
            font-size: 20px;
        }

        /* CAUTION */

        .caution_text_p 
        {
            font-size: 12px;
            padding: 0 100px 35px 100px;
        }

        /* COLUMNS ICONS */

        .columns-one 
        {
            padding-left: 35px;
        }
        .columns-two 
        {
            padding-right: 35px;
        }
        .columns-three 
        {
            padding-left: 35px;
        }
        .columns-four 
        {
            padding-right: 35px;
        }
        h6 
        {
            font-size: 15px;
        }

        .columns_img 
        {
            width: 200px;
            height: 40px;
        }
        .columns_text_p 
        {
            font-size: 12px;
            padding: 0 30px;
        }

        /* PRODUCT TITLE */

        .product_title h2 
        {
            font-size: 20px;
        }

        /* PRODUCT */

        .product-one 
        {
            margin: auto;
            grid-column: 1/3;
            grid-row: 1;
        }
        .product-two 
        {
            grid-column: 1/3;
            grid-row: 2;
            text-align: center;
        }
        .product_h1 
        {
            text-align: center;
            padding-top: 30px;
            font-size: 20px;
        }
        .product_p 
        {
            text-align: center;
            font-size: 15px;
        }
        .color_p 
        {
            text-align: center;
            font-size: 15px;
            margin-bottom: 5px;
        }
        .button2
        {
            display: block;
            margin: auto;
            width: 300px;
        }
        #product_img 
        {
            width: 400px;
            height: 350px;
        }
        .secure_img 
        {
            margin: 5px auto 50px auto;
            width: 350px;
            height: 50px;
        }
        

        /* FOOTER */

        .footer-one 
        {
            text-align: left;
            grid-column: 1/2;
            grid-row: 1;
        }
        .footer-two 
        {
            text-align: left;
            grid-column: 2/3;
            grid-row: 1;
        }
        .footer-three 
        {
            text-align: left;
            grid-column: 3/4;
            grid-row: 1;

        }
        .footer h1 
        {
            font-size: 18px;
        }
        .footer a 
        {
            font-size: 12px;
            line-height: 25px;
        }
        .footer p 
        {
            font-size: 12px;
        }
        .mail 
        {
            padding: 6px;
            width: 150px;
            font-size: 13px;
            border: none;
        }
        .valid 
        {
            width: 150px;
            font-size: 10px;
        }
}

/* IPHONE 5 ROTATE */

@media all and (max-width: 568px) {

    /* FOOTER */

        .footer_container
        {
            display: grid;
            grid-template-columns: repeat(3, auto);
            grid-template-rows: auto;
            padding-top: 30px;
            margin: auto;
        }

        .footer-one 
        {
            text-align: left;
            grid-column: 2;
            grid-row: 1;
            padding-bottom: 20px;
        }
        .footer-two 
        {
            text-align: left;
            grid-column: 2;
            grid-row: 2;
            padding-bottom: 20px;
        }
        .footer-three 
        {
            text-align: left;
            grid-column: 2;
            grid-row: 3;
            padding-bottom: 20px;

        }
        .footer h1 
        {
            font-size: 18px;
            padding: 0;
        }
        .footer a 
        {
            font-size: 12px;
            line-height: 25px;
        }
        .footer p 
        {
            font-size: 12px;
        }
        .mail 
        {
            padding: 6px;
            width: 150px;
            font-size: 13px;
            border: none;
        }
        .valid 
        {
            width: 150px;
            font-size: 10px;
        }
}

/* SURFACE DUO ROTATE */

@media all and (max-width: 540px) {

    /* NAV */

    .nav_container
    {
        grid-template-columns: auto;
    }

    /* HOME */

    .home-one
    {
        grid-column: 1/3;
        grid-row: 1;
        margin: auto;
    }
    .home-two
    {
        grid-column: 1/3;
        grid-row: 2;
    }
    #logo_home
    {
        width: 100%;
        height: auto;
    }
    .home-two h1
    {
        font-size: 20px;
    }
    .home-two h4
    {
        font-size: 17px;
    }

    /* DESCRIPTION TITLE */

    .description_title h2
    {
        font-size: 22px;
        padding: 20px 50px 10px 50px;
    }

    /* DESCRIPTION */

    .description_text_p
    {
        font-size: 14px;
        padding: 0 50px 35px 50px;
    }
    
    /* INFORMATION TITLE */

    .information_title h2
    {
        font-size: 22px;
    }

    /* INFORMATION */

    .information-one
    {
        text-align: left;
        padding-left: 50px;
    }
    .information-three
    {
        text-align: left;
        padding-right: 0;
        padding-left: 50px;
    }
    .info
    {
        font-size: 14px;
        text-align: left;
        padding-left: 0;
    }

    /* PERFORMANCE */

    .performance_title h2
    {
        font-size: 22px;
    }
    .performance-one
    {
        grid-column: 1/3;
        grid-row: 1;
    }
    .performance-two
    {
        padding-top: 50px;
        grid-column: 1/3;
        grid-row: 2;
    }
    .performance_p
    {
        text-align: center;
        font-size: 14px;
        padding: 0 50px 0 50px;
    }
    #perfo_img
    {
        width: 300px;
        height: 300px;
    }

    /* COMPATIBILITY TITLE */

    .compatibility_title h2
    {
        font-size: 22px;
    }

    /* COMPATIBILITY */

    .compatibility-one
    {
        grid-column: 1/3;
        grid-row: 2;
    }
    .compatibility-two
    {
        grid-column: 1/3;
        grid-row: 1;
    }

    .compatibility_p
    {
        padding: 50px 50px 0 50px;
        text-align: center;
        font-size: 14px;
    }
    #compa_img
    {
        width: 350px;
        height: 350px;
    }

    /* CAUTION TITLE */

    .caution_title h2
    {
        font-size: 22px;
    }

    /* CAUTION */

    .caution_text_p
    {
        font-size: 14px;
        padding: 0 50px 35px 50px;
    }

    /* COLUMNS ICONS */

    .columns-one
    {
        padding-left: 15px;
    }
    .columns-two
    {
        padding-right: 15px;
    }
    .columns-three
    {
        padding-left: 15px;
    }
    .columns-four
    {
        padding-right: 15px;
    }
    .columns_text_p
    {
        font-size: 14px;
        padding: 0 15px;
    }

    /* PRODUCT TITLE */

    .product_title h2
    {
        font-size: 22px;
    }

    /* PRODUCT */

    .product-two
    {
        padding-top: 50px;
    }
    .product_h1
    {
        padding-top: 0;
        font-size: 22px;
    }
    .product_p
    {
        font-size: 17px;
    }
    .color_p
    {
        font-size: 18px;
    }
    .button2
    {
        width: 350px
    }
    #product_img
    {
        width: 450px;
        height: 450px;
    }
    .secure_img
    {
        width: 350px;
        height: 50px;
    }

    /* FOOTER */
    .footer-one
    {
        padding-top: 30px;
        padding-right: 0;
        text-align: left;
        grid-column: 1/4;
        grid-row: 1;
    }
    .footer-two
    {
        padding-right: 0;
        padding-top: 30px;
        text-align: left;
        grid-column: 1/4;
        grid-row: 2;
    }
    .footer-three
    {
        padding-top: 30px;
        padding-bottom: 30px;
        text-align: left;
        grid-column: 1/4;
        grid-row: 3;

    }
    .footer h1
    {
        padding-right: 0;
        font-size: 20px;
    }
    .footer a
    {
        font-size: 13px;
        line-height: 25px;
    }
    .footer p
    {
        padding-right: 0;
        font-size: 13px;
    }
}

/* IPHONE 6/7/8 PLUS */

@media all and (max-width: 450px){
    /* NAV */

    .nav_container
    {
        grid-template-columns: auto;
    }

    /* INFORMATION TITLE */

    .information_title h2
    {
        padding: 20px 30px 10px 30px;
    }

    /* INFORMATION */

    .information-one
    {
        padding-right: 20px;
        padding-left: 20px;
    }
    .information-three
    {
        padding-right: 20px;
        padding-left: 20px;
    }
    .info
    {
        padding-right: 20px;
    }

    /* PERFORMANCE */

    .performance_p
    {
        padding: 0 30px 0 30px;
    }

    /* CAUTION */

    .caution_text_p
    {
        padding: 0 30px 20px 30px;
    }

    /* COLUMNS ICONS */

    .columns-one
    {
        padding: 10px;
        grid-column: 1/4;
        grid-row: 1;
    }
    .columns-two
    {
        padding: 10px;
        grid-column: 1/4;
        grid-row: 2;
    }
    .columns-three
    {
        padding: 10px;
        grid-column: 1/4;
        grid-row: 3;
    }
    .columns-four
    {
        padding: 10px;
        grid-column: 1/4;
        grid-row: 4;
    }

    /* PRODUCT */

    #product_img
    {
        width: 400px;
        height: 400px;
    }

    /* FOOTER */

    .footer-one
    {
        padding-top: 30px;
        padding-right: 0;
        text-align: left;
    }
    .footer-two
    {
        padding-right: 0;
        padding-left: 0;
        padding-top: 40px;
        text-align: left;
    }
    .footer-three
    {
        padding-top: 40px;
        padding-left: 0;
        padding-right: 0;
        padding-bottom: 30px;
        text-align: left;
    }

}


/* IPHONE 6/7/8 */

@media all and (max-width: 375px) {

    /* NAV */

    .nav_container
    {
        grid-template-columns: auto;
    }

    /* DESCRIPTION */

    .description_text_p
    {
        padding: 0 30px 35px 30px;
    }

    /* INFORMATION */

    .information-one
    {
        padding-right: 20px;
        padding-left: 20px;
    }
    .information-three
    {
        padding-right: 20px;
        padding-left: 20px;
    }
    #info_img 
        {
            width: 340px;
            height: 340px;
        }

    /* PERFORMANCE */

    .performance_p
    {
        padding: 0 20px 0 20px;
    }

    /* COLUMNS ICONS */

    .columns-one
    {
        padding: 0;
        grid-column: 1/3;
        grid-row: 1;
    }
    .columns-two
    {
        padding: 0;
        grid-column: 1/3;
        grid-row: 2;
    }
    .columns-three
    {
        padding: 0;
        grid-column: 1/3;
        grid-row: 3;
    }
    .columns-four
    {
        padding: 0;
        grid-column: 1/3;
        grid-row: 4;
    }

    /* PRODUCT */
   
    .button2
    {
        width: 250px;
    }
    #product_img
    {
        width: auto;
        max-width: 330px;
        height: 330px;
    }
    .secure_img
    {
        width: 250px;
        height: 35px;
    }

    /* FOOTER */

    .footer-one
    {
        padding-top: 30px;
        padding-right: 0;
        text-align: left;
    }
    .footer-two
    {
        padding-right: 0;
        padding-left: 0;
        padding-top: 40px;
        text-align: left;
    }
    .footer-three
    {
        padding-top: 40px;
        padding-left: 0;
        padding-right: 0;
        padding-bottom: 30px;
        text-align: left;
    }
}

/* IPHONE 5 */

@media all and (max-width: 350px){

    /* ASIDE */
    #card_add
    {
        display: none;
        right: 0;
        height: 100%;
        width: 200px;
        background: white;
        position: fixed;
        border-left: 1px solid #ccc;
        padding: 0 20px 0 20px;
        z-index: 1;
    }
    /* NAV */
    .menu_nav
    {
        display: none;
        top: 0;
        left: 0;
        height: 100%;
        width: 200px;
        background: white;
        position: fixed;
        border-left: 1px solid #ccc;
        padding: 0 20px 0 20px;
        z-index: 1;
    }
    /* INFORMATION */

    .information-one
    {
        padding-right: 10px;
        padding-left: 10px;
    }
    .information-three
    {
        padding-right: 10px;
        padding-left: 10px;
    }
    #info_img 
    {
        width: 300px;
        height: 300px;
    }

    /* COMPATIBILITY */
     #compa_img
    {
        width: 300px;
        height: 300px;
    }
    /* PRODUCT */
    .button2
    {
        width: 250px;
    }
    #product_img
    {
        width: auto;
        max-width: 250px;
        height: 250px;
    }
    .secure_img
    {
        width: 250px;
        height: 40px;
    }
    #carrousel_first_img
    {
        height: 300px;
        width: 300px;
    }
    #carrousel_first_img ul li
    {
        width: auto;
    }
    #carrousel_first_img img
    {
        width: 300px;
        height: 300px;
    }
    .p_carrousel
    {
        margin-top: 80px;
    }
    .p_carrousel_min
    {
        margin-top: -20px;
    }
    #carrousel_second_img
    {
        width: 290px;
    }
    #carrousel_second_img ul
    {
        margin-left: 3px;
    }
    #carrousel_second_img ul li img
    {
        width: 55px;
        height: 55px;
    }
}

/* GALAXY FOLD */

@media all and (max-width: 310px){
    /* INFORMATION */

    .information-one
    {
        padding-right: 10px;
        padding-left: 10px;
    }
    .information-three
    {
        padding-right: 10px;
        padding-left: 10px;
    }
    #info_img 
    {
        width: 250px;
        height: 250px;
    }

    /* PERFORMANCE */

    #perfo_img
    {
        width: 250px;
        height: 250px;
    }

    /* COMPATIBILITY */

     #compa_img
    {
        width: 250px;
        height: 250px;
    }

    /* PRODUCT */
    .button2
    {
        width: 200px;
    }
    .secure_img
    {
        width: 200px;
        height: 30px;
    }
    #carrousel_first_img
    {
        height: 270px;
        width: 270px;
    }
    #carrousel_first_img img
    {
        width: 270px;
        height: 270px;
    }
    #carrousel_second_img
    {
        width: 270px;
    }
    #carrousel_second_img ul
    {
        margin-left: 3px;
    }
    #carrousel_second_img ul li img
    {
        width: 48px;
        height: 48px;
    }
}
/* FIN */
